
{% extends 'core/base.html' %}
<div>{% block title %}Welcome{% endblock title %}</div>
<div>
	{% block content %}
	<section class="hero is-success mb-6">
		<div class="hero-body has-text-centered">
			<p class="title mb-6">Welcome to Gonzaga's Farmer Portal</p>
			<p class="subtitle">Buy products from our Farmers.</p>
                        <h6 class="subtitle is-6">(This page is for testing only, The products in this page is not available, Thank you for understanding.)</h6>
		</div>
	</section>
	<div class="columns is-multiline mb-6">
		<div class="column is-12 has-text-centered mt-6 mb-6">
			<h2 class="is-size-3">Newest Products</h2>
		</div>
		{% for product in newest_products %} {% include 'product/parts/list_item.html' %}
		<br />
		{% endfor %}
	</div>
	{% endblock content %}
</div>